@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html{
    padding: 0;
    margin: 0;
    background-color: #222222;
}

/*=======================BODY=========================*/

.text{
    text-align: center;
    line-height: 50px;
}

.disconnect{
    text-align: center;
}

.disconnect a{
    border: solid;
    border-radius: 50px;
    padding: 10px;
    background-color: red;
    font-family: "Montserrat", sans-serif;
    color: #edf0f1;
    text-decoration: none;
    font-size: 25px;
}

footer{
    position:absolute;
    bottom:0;
    width:99%;
    height:50px;
}