@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #222222;
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    color: #edf0f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
}

iframe{
    padding-left: 10px;
    border: red;
    border-width: 10px;
    border-radius: 50px;
}

.video{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;    
}

.logo{
    cursor: pointer;
}

header img{
    width: 150px;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #0088a9;
}

.contact button{
    padding: 20px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: not-allowed;
    transition: all 0.3s ease 0s;
}

.contact :hover{
    background-color: rgba(0, 136, 169, 0.8);
}