@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    background-color: #222222;
}

/*=======================HEADER=========================*/
header {
    color: #edf0f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
}

.logo{
    cursor: pointer;
}

header img{
    width: 150px;
}

/*=======================BODY=========================*/

.disconnect{
    text-align: center;
}

.disconnect a{
    border: solid;
    border-radius: 50px;
    padding: 10px;
    background-color: red;
    font-family: "Montserrat", sans-serif;
    color: #edf0f1;
    text-decoration: none;
    font-size: 25px;
}

footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:50px;
}